
/*
    Default application CSS, if you want to customize something
    it should be done here :D

    ReklameScript is free for personal use, and here, we are using 
    for an OSS software, all credits to them

    Author: http://www.hvdfonts.com/
    Link: https://www.dafont.com/pt/reklame-script-demo.font
*/

// main logo 
@font-face {
    font-family: 'ReklameScript';
    font-style: normal;
    font-weight: normal;
    src: local('ReklameScript'), url("../fonts/ReklameScript.otf") format('truetype');
}

.wb-logo {
    font-size: 6em;
    font-family: 'ReklameScript', serif !important;
    color: #007fff;
}
.wb-logo-black {
    color: black;
}
.wb-logo-home {
    font-size: 2em;
    color: #ffffff;
    font-weight: 300;
    text-decoration: none !important;
}

/* 
    primevue x tabler adjustments
*/

// fix input password wrapper 
.p-password.p-inputwrapper {
    width: 100%;
}

// fix arrow down in drop downs and menus
.dropdown-toggle::after {
    border-top: none;
    border-right: none;
    box-sizing: unset;
}