:root {
    --p-form-field-disabled-background: #eceef1 !important;
}

@font-face {
    font-family: 'ReklameScript';
    font-style: normal;
    font-weight: normal;
    src: local('ReklameScript'), url("../fonts/ReklameScript.otf") format('truetype');
}

.wb-logo {
    font-size: 6em;
    font-family: 'ReklameScript', serif;
    color: #0284c7;
}

.wb-logo-black {
    color: black;
}

.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 0 2rem;
    transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
}